.project-form
  = form_for @project do |f|
    - if @project.errors.any?
      %ul.alert_message
        - @project.errors.messages.values.each do |message|
          %li= message.join ","
    .form-group
      = f.label :title, "My Project"
      = f.text_field :title, class: "form-control"
    %br/
    .form-group
      = f.label :body, "Project Description"
      = f.text_area :body, class: "form-control"
      %br/
    .form-group
      = f.label :project_type
      = f.text_field :project_type, class: "form-control"
    .form-group
      = f.label :client
      = f.text_field :client, class: "form-control"
    .form-group
      = f.label :tech
      = f.text_field :tech, class: "form-control"
    .form-group
      = f.label :link
      = f.text_field :link, class: "form-control"
      
    = f.submit "Submit", class: "btn btn-default"
    = link_to "Back", projects_path, class: "btn btn-default"
    