- if @project.project_type === "Web"
  .show.web
    .project-title
      %h1= @project.title.upcase
      %br
      .project-desc
        <strong>Description: </strong>
        = @project.body
        %br
        <strong>Client: </strong>
        = @project.client
        %br
        <strong>Tech: </strong>
        = @project.tech 
    - @project.documents.each do |document|
      .image
        - if current_user.is_admin
          = link_to (image_tag document.direct_upload_url), edit_document_path(document)
        -else
          = image_tag document.direct_upload_url
      .project-title.caption
        = document.caption
      - if current_user.is_admin  
        = link_to 'delete', document, method: :delete, data: { confirm: 'Are you sure?' }
    - if current_user.is_admin   
      = render 'document_form'
- elsif @project.project_type === "Graphic"
  .show.graphic
    .project-title-graphic
      %h1= @project.title.upcase
      %br
      .project-desc
        <strong>Description: </strong>
        = @project.body
        %br
        <strong>Client: </strong>
        = @project.client
        %br
        <strong>Tech: </strong>
        = @project.tech 
    - @project.documents.each do |document|
      .image-graphic-show
        - if current_user.is_admin
          = link_to (image_tag document.direct_upload_url), edit_document_path(document)
        - else
          = image_tag document.direct_upload_url
      .project-title-graphic.caption
        = document.caption
      - if current_user.is_admin
        = link_to 'delete', document, method: :delete, data: { confirm: 'Are you sure?' }
    - if current_user.is_admin
      = render 'document_form'
- elsif @project.project_type === "Product"
  .show.product
    .project-title-product
      %h1= @project.title.upcase
      %br
      .project-desc
        <strong>Description: </strong>
        = @project.body
        %br
        <strong>Client: </strong>
        = @project.client
        %br
        <strong>Tech: </strong>
        = @project.tech 
    - @project.documents.each do |document|
      .image-product-show
        - if current_user.is_admin
          = link_to (image_tag document.direct_upload_url), edit_document_path(document)
        - if current_user.is_admin
          = image_tag document.direct_upload_url
      .project-title-product.caption
        = document.caption
      - if current_user.is_admin
        = link_to 'delete', document, method: :delete, data: { confirm: 'Are you sure?' }
    - if current_user.is_admin
      = render 'document_form'