- if @project.project_type === "Web"
  .show.web
    .project-title
      %h1= @project.title.upcase
      %br
      .project-desc
        <strong>Description: </strong>
        = @project.body
        %br
        <strong>Client: </strong>
        = @project.client
        %br
        <strong>Tech: </strong>
        = @project.tech 
    - @project.documents.each do |document|
      .image
        = link_to (image_tag document.direct_upload_url), edit_document_path(document)
      .project-title.caption
        = document.caption
      = link_to 'delete', document, method: :delete, data: { confirm: 'Are you sure?' }
    = render 'document_form'
- elsif @project.project_type === "Graphic"
  .show.graphic
    .project-title-graphic
      %h1= @project.title.upcase
      %br
      .project-desc
        <strong>Description: </strong>
        = @project.body
        %br
        <strong>Client: </strong>
        = @project.client
        %br
        <strong>Tech: </strong>
        = @project.tech 
    - @project.documents.each do |document|
      .image-graphic-show
        = link_to (image_tag document.direct_upload_url), edit_document_path(document)
      .project-title-graphic.caption
        = document.caption
      = link_to 'delete', document, method: :delete, data: { confirm: 'Are you sure?' }
    = render 'document_form'
- elsif @project.project_type === "Product"
  .show.product
    .project-title-product
      %h1= @project.title.upcase
      %br
      .project-desc
        <strong>Description: </strong>
        = @project.body
        %br
        <strong>Client: </strong>
        = @project.client
        %br
        <strong>Tech: </strong>
        = @project.tech 
    - @project.documents.each do |document|
      .image-product-show
        = link_to (image_tag document.direct_upload_url), edit_document_path(document)
      .project-title-product.caption
        = document.caption
      = link_to 'delete', document, method: :delete, data: { confirm: 'Are you sure?' }
    = render 'document_form'